.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: -650px;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  /* padding: 16px; */
  padding-bottom: 0;
}
.modal > section > footer {
  padding: 12px 0px;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #6bb7e0;
  background-color: whitesmoke;
  border-radius: 15px;
  font-size: 13px;
  width: 100%;
  height: 50px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.5s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-bottom: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
